<a href="https://colab.research.google.com/github/Ashoks7/top100spotify/blob/main/top100Spotify.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

TOP 100 songs ranking based on streaming

In [2]:
df=pd.read_csv("/content/List of most-streamed songs on Spotify.csv")
df

,Rank,Song,Streams (Billions),Artist,Release Date
0,1,Shape of You,"3,327",Ed Sheeran,6 January 2017
1,2,Blinding Lights,"3,323",The Weeknd,29 November 2019
2,3,Dance Monkey,"2,721",Tones And I,10.May.19
3,4,Someone You Loved,"2,588",Lewis Capaldi,8 November 2018
4,5,Rockstar,"2,570",Post Malone featuring 21 Savage,15 September 2017
...,...,...,...,...,...
95,96,I'm Yours,"1,490",Jason Mraz,12 February 2008
96,97,Despacito,"1,490",Luis Fonsi featuring Daddy Yankee,12 January 2017
97,98,Smells Like Teen Spirit,"1,487",Nirvana,10 September 1991
98,99,Sugar,"1,480",Maroon 5,29 August 2014
99,100,Rockstar,"1,478",DaBaby featuring Roddy Ricch,17 April 2020

In [3]:
df.isna()

     Rank   Song  Streams (Billions)  Artist  Release Date
0   False  False               False   False         False
1   False  False               False   False         False
2   False  False               False   False         False
3   False  False               False   False         False
4   False  False               False   False         False
..    ...    ...                 ...     ...           ...
95  False  False               False   False         False
96  False  False               False   False         False
97  False  False               False   False         False
98  False  False               False   False         False
99  False  False               False   False         False

[100 rows x 5 columns]

Name of the artist and their total number of songs in top 100

In [7]:
df["Artist"].value_counts()

Ed Sheeran                               4
Imagine Dragons                          3
XXXTentacion                             3
Shawn Mendes                             3
Maroon 5                                 2
                                        ..
Camila Cabello featuring Young Thug      1
Travis Scott featuring Kendrick Lamar    1
The Neighbourhood                        1
John Legend                              1
DaBaby featuring Roddy Ricch             1
Name: Artist, Length: 82, dtype: int64

NO:1 "Ed sheeran" songs in the list with their rankings

In [8]:
df[(df["Artist"]=="Ed Sheeran")]

    Rank               Song Streams (Billions)      Artist    Release Date
0      1       Shape of You              3,327  Ed Sheeran  6 January 2017
11    12            Perfect              2,267  Ed Sheeran    3 March 2017
15    16  Thinking Out Loud              2,131  Ed Sheeran    20 June 2014
22    23         Photograph              2,036  Ed Sheeran    20 June 2014

NO:2 "Imagine Dragons" songs in the list with their rankings

In [9]:
df[(df["Artist"]=="Imagine Dragons")]

    Rank      Song Streams (Billions)           Artist      Release Date
8      9  Believer              2,326  Imagine Dragons   1 February 2017
32    33   Thunder              1,874  Imagine Dragons     27 April 2017
72    73    Demons              1,606  Imagine Dragons  4 September 2012

NO:3 "XXXTentaction" songs in the list with their rankings

In [10]:
df[(df["Artist"]=="XXXTentacion")]

    Rank            Song Streams (Billions)        Artist     Release Date
27    28            SAD!              1,947  XXXTentacion     1 March 2018
35    36  Jocelyn Flores              1,861  XXXTentacion  31 October 2017
80    81       Moonlight              1,560  XXXTentacion    16 March 2018

NO:4 "Shawn Mendes" songs in the list with their rankings

In [11]:
df[(df["Artist"]=="Shawn Mendes")]

,Rank,Song,Streams (Billions),Artist,Release Date
57,58,Treat You Better,"1,669",Shawn Mendes,3 June 2016
88,89,There's Nothing Holdin' Me Back,"1,515",Shawn Mendes,20 April 2017
89,90,Stitches,"1,510",Shawn Mendes,14 April 2015

NO:5 "Marron 5" songs in the list with their rankings

In [12]:
df[(df["Artist"]=="Maroon 5")]

    Rank      Song Streams (Billions)    Artist       Release Date
66    67  Memories              1,621  Maroon 5  20 September 2019
98    99     Sugar              1,480  Maroon 5     29 August 2014